<h1>Listing cases</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cases.each do |eachCase| %>
      <tr>
        <td><%= link_to 'Show', eachCase %></td>
        <td><%= link_to 'Edit', edit_case_path(eachCase) %></td>
        <td><%= link_to 'Destroy', eachCase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case', new_case_path %>
